html,
body {
    cursor: url(https://cdn.leanhduc.pro.vn/theme/theme-thong-tin-lien-he-version-2-0/images/mouse-f1.png), auto;
}

#window {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    background-color: #000000;
    padding: 0;
    top: 0;
    left: 0;
}

#main {
    z-index: 2;
    position: relative;
    width: 450px;
    padding-bottom: 5px;
    background-color: #ffffffa4;
    border-radius: 25px;
    margin-top: 5px;
    -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.74);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.74);
}

#bg {
    position: fixed;
    min-height: 100vh;
    min-width: 100%;
    background-image: url(https://cdn.leanhduc.pro.vn/theme/theme-thong-tin-lien-he-version-2-0/images/background.jpeg);
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

#bg-cover {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(https://cdn.leanhduc.pro.vn/theme/theme-thong-tin-lien-he-version-2-0/images/cover.gif);
    background-position: center;
    background-size: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    filter: opacity(0.6);
}

#cover {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url(https://cdn.leanhduc.pro.vn/theme/theme-thong-tin-lien-he-version-2-0/images/cover.gif);
    background-position: center;
    background-size: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#avatar {
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    border: 5px solid #1877f2;
    -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.74);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.74);
}

#avatar img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    border: 2px solid #fff;
}

#name {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 0;
    font-family: "Lobster";
}

#name i {
    color: #1877f2;
    font-size: 25px;
}

.badge {
    font-weight: bold;
    color: #ffffff;
    background-color: #2d88ff;
    padding: 5px 3px;
    border-radius: 3px;
    font-size: 12px;
}

#bio {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Roboto";
    font-size: 16px;
}

.border {
    position: relative;
    width: 50%;
    height: 2px;
    background-color: rgb(138, 138, 138);
}

.border {
    border: 1px solid #dee2e6 !important;
}

#contact-text {
    display: inline-block;
    padding: 2px 15px;
    border-radius: 15px;
    margin-top: 10px;
    margin: 10px auto;
    text-align: center;
    font-weight: lighter;
    font-size: 20px;
    color: #ffffff;
    background: rgb(45, 136, 255);
    background: rgb(45, 136, 255);
    background: -moz-linear-gradient(127deg, rgba(45, 136, 255, 1) 0%, rgba(131, 186, 255, 1) 100%);
    background: -webkit-linear-gradient(127deg, rgba(45, 136, 255, 1) 0%, rgba(131, 186, 255, 1) 100%);
    background: linear-gradient(127deg, rgba(45, 136, 255, 1) 0%, rgba(131, 186, 255, 1) 100%);
    font-family: "Lobster";
    transition: all 250ms;
    cursor: default;
}

#boxs {
    margin-top: 3px;
}

.box {
    height: 50px;
    width: 75%;
    margin: 5px auto;
    border-radius: 20px;
    background: rgb(42, 100, 173);
    background: -moz-linear-gradient(127deg, rgba(42, 100, 173, 1) 0%, rgba(45, 136, 255, 1) 100%);
    background: -webkit-linear-gradient(127deg, rgba(42, 100, 173, 1) 0%, rgba(45, 136, 255, 1) 100%);
    background: linear-gradient(127deg, rgba(42, 100, 173, 1) 0%, rgba(45, 136, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2a64ad", endColorstr="#2d88ff", GradientType=1);
    -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.74);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.74);
    z-index: 1;
    transition: all 250ms;
}

.facebook {
    background: #3a5795;
    color: #1c3977;
    background: linear-gradient(to bottom, #3a5795 0%, #2b4886 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3a5795), color-stop(100%, #2b4886));
    background: -webkit-linear-gradient(top, #3a5795 0%, #2b4886 100%);
    background: -moz-linear-gradient(top, #3a5795 0%, #2b4886 100%);
    background: -o-linear-gradient(top, #3a5795 0%, #2b4886 100%);
    background: -ms-linear-gradient(top, #3a5795 0%, #2b4886 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3A5795', endColorstr='#2B4886', GradientType=0);
    border: 1px solid #1c3977;
    text-shadow: 0 1px 0 #4966a4;
    -webkit-text-shadow: 0 1px 0 #4966a4;
    -moz-text-shadow: 0 1px 0 #4966a4;
    box-shadow: inset 0 1px 0 #4966a4;
    -webkit-box-shadow: inset 0 1px 0 #4966a4;
    -moz-box-shadow: inset 0 1px 0 #4966a4;
}

.messenger {
    background: #fc466b;
    background: -webkit-linear-gradient(to right, #3f5efb, #fc466b);
    background: linear-gradient(to right, #3f5efb, #fc466b);
}

.zalo {
    background: #0064f7;
    background: linear-gradient(127deg, #0064f7 0%, #2a7fff 100%);
}

.github {
    background: #1f1c2c;
    background: -webkit-linear-gradient(to right, #1f1c2c, #928dab);
    background: linear-gradient(to right, #1f1c2c, #928dab);
}

.momo {
    background: #a80069;
    background: linear-gradient(127deg, #a80069 0%, #d73193 100%);
}

.mbbank {
    background: #1f00cf;
    background: linear-gradient(127deg, #1f00cf 0%, #006db5 100%);
}

.icon {
    display: inline;
    position: relative;
}

.icon i {
    font-size: 30px;
    margin: 10px 20px;
    color: #ffffff;
    transition: transform 250ms;
    z-index: 2;
}

.div-logo {
    position: relative;
    height: 30px;
    width: 30px;
    background-position: center;
    background-size: cover;
    margin: 10px 20px;
    z-index: 5;
    transition: all 250ms;
}

.zalo-icon {
    background-image: url(https://cdn.leanhduc.pro.vn/theme/theme-thong-tin-lien-he-version-2-0/images/zalo.png);
}


.mbbank-icon {
    background-image: url(https://cdn.leanhduc.pro.vn/theme/theme-thong-tin-lien-he-version-2-0/images/mbbank.png);
}

#contact {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Lobster";
    font-size: 16px;
}

.detail {
    position: relative;
    display: block;
    margin: 0 auto;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
    transition: all 500ms;
    font-family: "Roboto";
}

.linked {
    position: relative;
    margin: 0 auto;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
    transition: all 500ms;
    top: -40px;
    z-index: -2;
    filter: opacity(0);
    transition: all 1000ms;
    font-family: "Roboto";
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0;
}

#contact-text:hover {
    transform: scale(1.2);
    padding: 2px 55px;
}

.box:hover {
    padding-right: 20px;
}

a {
    text-decoration: none !important;
    cursor: default;
    cursor: url(https://cdn.leanhduc.pro.vn/theme/theme-thong-tin-lien-he-version-2-0/images/mouse-f1.png), auto;
}

a:hover {
    color: greenyellow !important;
}

/* responsive */

@media (max-width: 768px) {
    #main {
        width: auto;
        height:auto;
    }
}


